.profile .image{
  background-image: url("https://ww.namu.la/s/fdd87f243fd6850bad3755c86fb9ffcb685795f49afc88ca7bf98edeb72f91f489d59a590a73acb0815e5d0ef307781eefdf913f57c317bbb2fc01b511bace67d24b522c97ed5062644ed1ddf0dfce81faf14b73fe754e4b639dc15e25d32fef");
  background-position-y: -50px;
  background-size: 250%;
}
.basic .tip {
  top: 210px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.shift .tip {
  top: 584px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.E .tip {
  top: 957px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.Q .tip {
  top: 1351px;
  left: 95px;
  position: absolute;
  z-index: 1;
}