body{
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg");
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.small{
  font-size: 10px;
  line-height: 5px;
}

.box{
  display: flex;
  padding: 50px 50px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.profile{
  display: block;
  position: absolute;
  top: 25px;
  right: 60px;
}
.image{
  width: 120px;
  height: 120px;
  border-radius: 10px;
  border: 3px solid #fff;
  background-color: #ffcb76;
  background-size: 250%;
  background-position: top;
  background-position-y: -50px;
  background-repeat: no-repeat;
}
.act{
  font-weight: 700;
  padding: 4px;
  color: #ffffffbd;
  text-align: right;
}
.tooltip .name {
  visibility: hidden;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  top: 100px;
  right: -100px;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .name {
  visibility: visible;
}

.container{
  display: block;
  width: 900px;
  margin-right: 20px;
}
.story{
  font-size: 17px;
  font-weight: 800;
  line-height: 30px;
  text-align: right;
  background-color: #797979;
  padding: 15px 40px;
  color: #fff;
  border-radius: 20px;
  padding-right: 170px;
}

.skill{
  min-height: 300px;
  background-color: #797979cb;
  margin: 20px 0;
  padding: 10px;
  border-radius: 20px;
}
video{
  width: auto;
  height: 278.4px;
  border-radius: 10px;
  display: block;
  margin-top: 10px;
}

.skill .basic{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: block;
  box-sizing: border-box; 
}
.basic .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.basic:hover .tip{
  visibility: visible;
}

.flex{
  display: flex;
}
tr{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.stat{
  width: 300px;
  height: 278.4px;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  line-height: 140%;
  margin-left: 20px;
}
.key{
  padding: 0 10px;
  font-weight: 600;
  vertical-align: middle;
}
.value{
  padding: 0 10px;
  vertical-align: middle;
}
.desc{
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin-top: 10px;
  line-height: 150%;
}

.container .skill .shift{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
}
.shift .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.shift:hover .tip{
  visibility: visible;
}

.skill .E{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
}
.E .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.E:hover .tip{
  visibility: visible;
}

.skill .Q{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  box-sizing: border-box;
}
.Q .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.Q:hover .tip{
  visibility: visible;
}
.from{
  color: #000000af;
  text-align: center;
  padding-bottom: 50px;
  margin-top: -50px;
}