.profile .image{
  background-image: url("../assets/Pharah.png");
  background-position-y: 10px;
  background-position-x: -115px;
  background-size: 290%;
}
.skill .conti{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: block;
  box-sizing: border-box; 
}
.conti .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.conti:hover .tip{
  visibility: visible;
}
.basic .tip {
  top: 384px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.shift .tip {
  top: 757px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.E .tip {
  top: 1130px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.Q .tip {
  top: 1504px;
  left: 95px;
  position: absolute;
  z-index: 1;
}