.profile .image{
  background-image: url("../assets/D.Va.png");
  background-position-y: -115px;
  background-position-x: -130px;
  background-size: 450%;
}
.skill .conti{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: block;
  box-sizing: border-box; 
}
.skill .click_left{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: block;
  box-sizing: border-box; 
}
.skill .hana_Q{
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  display: block;
  box-sizing: border-box; 
}
 .click_left .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.click_left:hover .tip{
  visibility: visible;
}
.hana_Q .tip {
  visibility: hidden;
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.637);
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
}
.hana_Q:hover .tip{
  visibility: visible;
}
.basic .tip {
  top: 321px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.click_left .tip {
  top: 715px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.shift .tip {
  top: 1089px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.E .tip {
  top: 1484px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.Q .tip {
  top: 1858px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.conti .tip {
  top:2232px;
  left: 95px;
  position: absolute;
  z-index: 1;
}
.hana_Q .tip {
  top: 2605px;
  left: 95px;
  position: absolute;
  z-index: 1;
}